@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#activity {
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
#activity .nav-link{
    padding-top: 10px;
    color: black;
    margin: -4px -20px;
}
#activity .fa-arrow-left{
    font-size: 1rem;
}
#activity .btn-activity h5{
    padding-top: 10px;
}
#activity h5{
    font-weight: bold;
}
#activity .btn-activity h5{
    position: relative;
    right: 400px;
    float: right;
    top: 73.5px;
    bottom: 38.5px;
    font-family: SVN-Poppins;
}
#activity .btn-title{
    width: 100%px;
    height: 130px;
}
#activity .back-home{  
    position: absolute;
    left: 400px;
    top: 156px;
    bottom: 38px;
    width: 239px;
    height: 48px;
    font-family: SVN-Poppins;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center;
    padding: 3px 20px;    
}
#activity .back-home:hover , #activity .nav-link:hover , activity .read span:hover{
    background: #a92e71;
    color: white;
}


#activity .title{
    position: relative;
    top: 35px;
    left: 400px;
    width: 179px;
    height: 50px;
}
#activity .read span{
    position: relative;
    top: -3px;
    left: 974px;
    width: 114px;
    height: 22px;
    border:1px solid gray;
    border-radius: 90px;
    padding: 8px 10px;
    font-weight: bold;
    cursor: default;
}
#activity .selection-activity{
    position: relative;
    width: 350px;
    height: 25px;
}
#activity .selection-activity .col-md-4{
    font-family: SVN-Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: #606060;
    padding: 10px 1px;
    position: relative;
    left: 400px;
    top: 30px;
    text-align: center;
}
#activity .selection-activity .col-md-4:hover{
    cursor: pointer;
    color: #a92e71;
}
#activity .selection-activity .col-md-4:active{
    background: #a92e71;
    border-radius: 90px;
    color: white;
}
#activity .content{
    width: 702px;
}
#activity .content .row{
    padding: 20px 0;
    position: relative;
    cursor: default;
    left: 420px;
    top: 40px;
}

#activity .content .col-md-8 .article-title{
    position: static;
    font-family: SVN-Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
}

#activity .content .col-md-8{
    position: relative;
    right: 8%;
}

#activity .content .col-md-8 .post-time{
    font-family: SVN-Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    color: #606060;
}

#activity .content .col-md-8 .content-of-the-article{
    color: #606060;
}

#activity .content .col-md-1 .status-content{
    position: absolute;
    top: 55px;
    left: 661px;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 90%;
}
#activity .content .row:hover , .status-content{
    background: rgb(241, 240, 240);
    border-radius: 10px;
    background-size: cover;
}
#activity .check-filters{
    position: absolute;
    right: 400px;
    top: 43px;
    width: 345px;
    height: 610px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    
}
#activity .check-filters h1{
    position: relative;
    top: 45px;
    left: 45px;
}
#activity .check-filters .item-check .check-box{
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

 #activity .check-filters .item-check .check-box:hover::before{
    content: '';
    left: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #a92e71;
    border-radius: 3px;
    position: absolute;
}

#activity .check-filters .item-check .check-box:checked::after{
    content: '\f00c';
    font-family: "Font Awesome 5 Pro";
    color: rgb(241, 240, 240);
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: #a92e71;
    position: absolute;
    padding: 0 3px;
}

#activity .check-filters .item-check{
    position: relative;
    top: 38px;
    left: 45px;
    padding-top: 24px;
}
#activity .check-filters .item-check span{
    position: absolute;
    margin: auto 12px;
    font-family: SVN-Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}
#activity .check-filters .hr-item-check{
    position: relative;
    width: 242px; 
    /* width: 225px; */
    top: 31px;
    left: 45px;
}
#activity .check-filters .btn-select-item .btn-select-all{
    position: relative;
    width: 115px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center;
    top: 33px;
    left: 44px;
    font-weight: bold;
    padding: 2px;
}
#activity .check-filters .btn-select-item .btn-unselect-all{
    position: relative;
    width: 115px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center;
    top: 0px;
    left: 173px;
    font-weight: bold;
    padding: 2px;
}
#activity .check-filters .btn-select-item .btn-select-all:hover{
    background: #a92e71;
    color: white;
    cursor: default;
}
#activity .check-filters .btn-select-item .btn-unselect-all:hover{
    background: #a92e71;
    color: white;
    cursor: default;
}
#activity .main{
    position: relative;
    height: 871px;
}