@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#activity {
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
#activity .container{
    max-width: 1144px;
}
#activity a{
    /* padding-top: 12px;
    color: black;
    margin: -4px -20px; */
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#activity .back-home a{
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 90px;
}
#activity .fa-arrow-left{
    font-size: 1rem;
}
#activity .btn-activity-right{
    position: absolute;
    width: 1142px;
    text-align: right;
    top: 184px;
}
#activity .btn-title{
    width: 100%px;
    height: 130px;
}
#activity .back-home{  
    position: relative;
    top: 85px;
    bottom: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}
#activity .back-home a:hover, #activity .read span:hover{
    background: #a92e71;
    color: white;
    border-radius: 90px;
}
#activity a:hover{
    color: white;
}

#activity .title{
    position: absolute;
    top: 36px;
    left: 0;
    width: 179px;
    height: 50px;
}
#activity .read span{
    position: absolute;
    top: 35px;
    right: 391px;
    border: 1px solid gray;
    border-radius: 90px;
    padding: 9px 12px;
    font-weight: bold;
    cursor: default;
}
#activity .selection-activity{
    position: relative;
    width: 320px;
    height: 25px;
}
#activity .selection-activity .col-md-4{
    padding: 10px 1px;
    position: relative;
    left: 0;
    top: 85px;
    text-align: center;
}
#activity .selection-activity .col-md-4 a{
    font-family: "SVN-Poppins";
    font-style: normal;
    text-decoration: none;
    padding: 6px 10px;
    font-size: 16px;
    color: #606060;
}
#activity .selection-activity .col-md-4 a:hover{
    cursor: pointer;
    color: #a92e71;
}
#activity .selection-activity .col-md-4 a:focus{
    background: #a92e71;
    border-radius: 90px;
    color: white;
}
#activity .content{
    width: 702px;
}
#activity .content .row{
    padding: 20px 0;
    position: relative;
    cursor: default;
    left: 20px;
    top: 120px;
    
}

#activity .content .col-md-8 .article-title{
    position: static;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: black !important;
}

#activity .content .col-md-8{
    position: relative;
    right: 8%;
}

#activity .content .col-md-8 .post-time{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    color: #606060;
}

#activity .content .col-md-8 .content-of-the-article{
    color: #606060;
}

#activity .content .col-md-1 .status-content{
    position: absolute;
    top: 55px;
    font-size: 0.7rem;
    color: #C4C4C4;
}

#activity .content .col-md-1 .status-content .fa-circle:hover, #activity .content .row:hover {
    background: rgb(241, 240, 240);
    border-radius: 10px;
    color: #a92e71 !important;
    
}
#activity .check-filters{
    position: absolute;
    right: 0;
    top: 45px;
    width: 345px;
    height: 610px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    
}
#activity .check-filters h1{
    position: relative;
    top: 45px;
    left: 45px;
}
#activity .check-filters .item-check .check-box{
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

 #activity .check-filters .item-check .check-box:hover::before{
    content: '';
    left: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #a92e71;
    border-radius: 3px;
    position: absolute;
}

#activity .check-filters .item-check .check-box:checked::after{
    content: '\f00c';
    font-family: "Font Awesome 5 Pro";
    color: rgb(241, 240, 240);
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: #a92e71;
    position: absolute;
    padding: 0 3px;
}

#activity .check-filters .item-check{
    position: relative;
    top: 38px;
    left: 45px;
    padding-top: 24px;
}
#activity .check-filters .item-check span{
    position: absolute;
    margin: auto 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}
#activity .check-filters .hr-item-check{
    position: relative;
    width: 242px; 
    top: 31px;
    left: 45px;
}
#activity .check-filters .btn-select-item .btn-select-all{
    position: relative;
    width: 115px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center;
    top: 33px;
    left: 44px;
    font-weight: bold;
    padding: 2px;
}
#activity .check-filters .btn-select-item .btn-unselect-all{
    position: relative;
    width: 115px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center;
    top: 0px;
    left: 173px;
    font-weight: bold;
    padding: 2px;
}
#activity .check-filters .btn-select-item .btn-select-all:hover{
    border: 1px solid #a92e71;
    background: #a92e71;
    color: white;
    cursor: default;
}
#activity .check-filters .btn-select-item .btn-unselect-all:hover{
    border: 1px solid #a92e71;
    background: #a92e71;
    color: white;
    cursor: default;
}
#activity .main{
    position: relative;
    height: 871px;
}
#activity .layout-right {
    position: static;
}
@media all and (max-width: 1120px){
    #activity .part-main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
    }
    #activity .layout-right {
        position: relative !important;
        top: 159px;
        display: flex;
    justify-content: center
    }
    #activity .main {
        height: 1500px;
    }
    #activity .check-filters {
        right: unset;
    }
    #activity .read span{
       right: 0;
    }
}
@media all and (max-width: 770px){
    #activity .selection-activity {
        width: unset;
    }
    #activity .content .row>*{
        width: unset;
    }
    #activity .content .col-md-8 {
        right: 0%;
    }
    #activity .content {
        width: unset;
        position: relative;
        top: 68px;
    }
}
@media all and (max-width: 500px){
    #activity .content .col-md-1 .status-content{
        display: none;
    }
}
@media all and (max-width: 486px){
    #activity .main {
        height: 1811px;
    }
}