@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#connectwallect {
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
#connectwallect .button-header{
    position: relative;
    height: 126px;
}
#connectwallect .button-header .nav-link{
    color: #000000;
}
#connectwallect .back-home{
    position: absolute;
    left: 400px;
    top: 73px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid gray;
    border-radius: 90px;
    text-align: center; 
}
#connectwallect .back-home:hover,  #connectwallect .back-home .nav-link:hover {
    background: #a92e71;
    color: white !important;
    border-radius: 90px;
}

#connectwallect .title-header{
    position: relative;
    top: 82px;
    left: 1413px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
}
#connectwallect .main{
    position: relative;
}
#connectwallect .img-title-select{
    position: relative;
    width: 523px;
    height: 125px;
    left: 400px;
    top: 125px;
    padding: 30px;
    cursor: pointer;
}
#connectwallect .img-title-select span{
    position: relative; 
    padding: auto;
    left: 30px;
    top: 3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
}
#connectwallect .img-main{
    position: absolute;
    left: 1020px;
    top: 125px;
}
#connectwallect .img-title-select:hover::after{
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3rem;
    top: 36%;
    left: 90%;
    /* display: none; */
}
/* #connectwallect .img-title-select:hover,{
    display: block;
} */