@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-btn-header: #ec4c93;
}

#createitem .container{
  max-width: 1144px;
  /* margin-left: 50px; */
  font-family: 'Poppins', sans-serif;
}


#createitem .switch_multiple {
  width: 156px;
  height: 39px;
  border-radius: 46px;
  margin-left: 40px;
}
#createitem .left__CreateSimple .switch_multiple:hover {
  border: 1px solid #a92e71;
  background: #a92e71;
  color: white;
  cursor:pointer ;
  border-radius: 20px;
  height: 40px;
}
#createitem .left__CreateSimple .switch_multiple p {
  border: 1px solid rgb(110, 96, 96);
  border-radius: 20px;
  text-align: center;
  padding: 7px 0px;
  color: #000000;
}
#createitem .content__createitem {
  margin-top: 125px;
}
#createitem .content__createitem .Multiple {
  margin-top: 8px;
  margin-left: 133px;
}
#createitem .content__createitem .Collectible {
  position: static;
  width: 309px;
  height: 102px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#createitem .content__createitem .left__UploadFile {
  margin-top: 30px;
}
#createitem .content__createitem .left__UploadFile p {
  position: static;
  width: 205px;
  height: 13px;
  left: 0px;
  top: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  /* identical to box height */
  color: #606060;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 6px 0px;
}
#createitem .content__createitem .left__UploadFile h6 {
  position: static;
  width: 100px;
  height: 17px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 0px;
}
#createitem .content__createitem .left__UploadFile .form-Uploadfile {
  /* Rectangle 17 */
  position: static;
  width: 640px;
  height: 180px;
  left: 0px;
  top: 52px;
  background: #f5f5f5;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 15px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  font-size: 14px;
  color: #000000;
}
/*PEVIEW*/
#createitem .content__createitem .right__Preview {
  flex-direction: column;
  align-items: flex-start;
  padding: 46px;
  position: relative;
  width: 350px;
  height: 645px;
  /* left: 80px;  */
  top: 0;
  background: #ffffff;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
#createitem .content__createitem .right__Preview .img_preview{
  width: 258px;
  height: 299px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
#createitem .content__createitem .right__Preview .img_preview:hover .like{
  opacity: 1;
}
#createitem .content__createitem .right__Preview .img_preview img{
  position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
}
#createitem .content__createitem .right__Preview .img_preview .like{
  opacity: 0;
  transition: 0.6s all ease;
}
#createitem .content__createitem .right__Preview .img_preview .like p.purchase{
  position: absolute;
  left: 16px;
  top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec4c93;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  width: 87px;
  height: 24px;
  color: #fff;
}
#createitem .content__createitem .right__Preview .img_preview .like .icon__img{
  position: absolute;
  top: 16px;
  border: none;
  right: 16px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
}
#createitem .content__createitem .right__Preview .img_preview .like .icon__img img{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 55%;
}
#createitem .content__createitem .right__Preview .img_preview .like p.place{
  position: absolute;
    background: #a92e71;
    bottom: 16px;
    left: 72px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 16px;
    width: 115px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#createitem .content__createitem .right__Preview h1 {
  /* position: static; */
  width: 104px;
  height: 27px;
  left: 0px;
  top: 0px;
  font-weight: 100px;
  font-size: 26px;
  line-height: 27px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  font-family: 'Poppins', sans-serif;
}
#createitem .content__createitem .digital_price {
  margin-top: 15px;
}
#createitem .content__createitem .digital_price .price{
  margin-left: 11px;
}
#createitem .content__createitem .digital_price .price_ETH b {
  border: 1.5px solid #a92e71;
  position: static;
  font-size: 12px;
  text-align: center;
  color: #a92e71;
  flex: none;
  width: 52px;
  height: 13px;
  right: 0;
}
/*avatar*/
#createitem .content__createitem .digital_price .img_avatar {
  margin-top: 10px;
}
/* 3 in stok */
#createitem .content__createitem .digital_price .digital_art{
  width: 162px;
  font-size: 16px;
  height: 17px;
}
#createitem .content__createitem .digital_price .price_ETH b{
  margin-left: 27px;
}
#createitem .content__createitem .digital_price .price_ETH p {
  width: 66px;
  height: 15px;
  font-size: 14px;
  margin-top: 18px;
  margin-left: 17px;
  color: #606060;
}
#createitem .content__createitem .highest_bid .highest p{
  width: 130px;
  height: 13px;
  font-size: 12px;
  color: #606060;

}
#createitem .content__createitem .bid .newbid p{
  width: 49px;
  height: 13px;
  font-size: 12px;
  margin-left:22px;
}
/* clear all */
#createitem .content__createitem .right__Preview .clearAll {  
  position: relative;
}
#createitem .content__createitem .right__Preview .clearAll span{
  color: #606060;
  margin-left: 10px;
  font-size:  10px;
}
#createitem .content__createitem .right__Preview .clearAll i{
  font-size: 11px;
  width: 20px;
  height: 20px;
}
/* newbid */
#createitem .content__createitem .right__Preview .bid {
  position: static;
  font-style: normal;
  font-size: 12px;
  color: #606060;
  flex: none;
}
#createitem .content__createitem .right__Preview .bid .newbid{
  margin-left: 25px;
}
/*left__ItemDetail*/
#createitem .content__createitem .left__ItemDetail {
  position: static;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0px;
}
#createitem .content__createitem .left__itemname{
  width: 640px;
}
#createitem .content__createitem .left__itemname label {
  position: static;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #606060;
  flex: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
#createitem .content__createitem .left__itemname .form-itemname .form-control {
  border-radius: 10px;
}
#createitem .content__createitem .left__itemname .form-description .form-control{
  border-radius: 10px !important;
}
#createitem
  .content__createitem
  .left__itemname
  .form-description
  .form-control {
  border-radius: 15px;
}
#createitem .content__createitem .left__itemname .select_text .form-control {
  border-radius: 10px;
}
#createitem .content__createitem .hr_left {
  position: static;
  width: 640px;
  height: 0px;
  left: 0px;
  top: 0px;
  border: 1px solid #c4c4c4;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0px;
}
/*itemname*/
#createitem .content__createitem .left__itemname .form-itemname {
  border-radius: 15px;
}
/*conten_button*/
#createitem .content__Bottom .Menu_left h5 {
  margin: 15px 0px;
}
#createitem .content__Bottom .Menu_left p {
  padding-bottom: 25px;
}
/*Menu_right*/
#createitem .input[type=checkbox] {
  visibility: hidden;
}
.checkbox-example,
.checkbox-example1,
.checkbox-example2 {
  width: 48px;
  height: 24px;
  background: white;
  margin: 20px 10px;
  position: relative;
  border-radius: 15px;
  border: 1px solid #EBEBEB;
  margin-left: 48px;
  background: #EBEBEB;
}
.checkbox-example1,
.checkbox-example2{
  margin-top: 80px;
}
.checkbox-example  label,
.checkbox-example1 label,
.checkbox-example2 label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 0.2px;
  margin-left: 4px;
  background:#a92e71 ;
  margin-top: 3px;
}
#createitem .checkbox-example  input[type=checkbox]:checked + label {
  left: 25px;
}
#createitem input[type=checkbox] {
  visibility: hidden;
}
#createitem .content__Bottom .Menu_right .btn {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  background: #ccc;
}
#createitem .content__Bottom .Menu_right {
  position: relative;
  left: 45px;
}
/*button_view*/
#createitem .button_view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  width: 170px;
  height: 47px;
  left: 0px;
  top: 487px;
  background: #a92e71;
  border-radius: 30px;
  margin-bottom: 125px;
  margin-top: 50px;
}
#createitem .button_view p {
  color: #ffffff;
  margin-top: 14px;
}
#createitem .button_view a {
  color: black;
  margin-left: 20px;
}
#createitem .content__Bottom .Menu_left {

}
/*bottom_menu*/
#createitem .bottom_menu .create_bottom {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 158px;
  height: 119px;
  left: 0px;
  top: 0px;
  background: #e5e5e5;
  border-radius: 10px;
  margin: 0px 3px;
}
#createitem .bottom_menu .create_bottom .circle_xanhbien {
  height: 32px;
  width: 32px;
  background-color: #4bc9f0;
  border-radius: 50%;
  display: inline-block;
}
#createitem .bottom_menu .create_bottom .circle_xanhla {
  height: 32px;
  width: 32px;
  background-color: #5abc58;
  border-radius: 50%;
  display: inline-block;
}
#createitem .bottom_menu .create_bottom .circle_hong {
  height: 32px;
  width: 32px;
  background-color: #ec2964;
  border-radius: 50%;
  display: inline-block;
}
#createitem .bottom_menu .create_bottom .circle_tim {
  height: 32px;
  width: 32px;
  background-color: #b14bf0;
  border-radius: 50%;
  display: inline-block;
}
#createitem .bottom_menu .create_bottom .name_color {
  position: static;
  width: 118px;
  height: 30px;
  left: 20px;
  top: 66px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 14px 0px;
}
#createitem .button_view a{
  color: white;
  width: 1.5px;
}


/* =============================== Responsive ================================== */
@media screen and (max-width: 1024px){
  #createitem .content__createitem .right__Preview {
  }
  #createitem .content__createitem .right__Preview {
    position: relative;
    right: 14px;
  }
}
@media screen and (max-width: 768px){
  #createitem .left__itemname{
    width: 650px;
  }
  #createitem .switch_multiple {
    position: relative;
    left: 200px;
    bottom: 100px;
  }
  #createitem .content__Bottom .Menu_right{
    position: relative;
    width: 100px;
  }
  #createitem .content__Bottom .Menu{
    position: relative;
    top: 30px;
  }
}
@media screen and (max-width: 540px){
  #createitem .content__createitem .left__UploadFile .form-Uploadfile{
    width: 520px;
  }
  #createitem .content__createitem .left__itemname {
    width: 520px;
  }
#createitem .content__createitem .hr_left{
  position: relative;
  width: 520px;
}
#createitem .content__Bottom .Menu{
  position: relative;
  width: 520px;
  top: 30px;
}
#createitem .content__Bottom .Menu_right{
  left: 400px;
  bottom: 400px;
}
#createitem .content__createitem .right__Preview{
  left: 40px;
}
@media screen and (max-width: 375px){
  #createitem .switch_multiple{
    position: relative;
    width: 120px;
  }
}
}
@media screen and (max-width: 414px){
  #createitem .switch_multiple{
    left: 0;
    left: 30px;
  }
  #createitem .content__createitem .left__UploadFile .form-Uploadfile{
    position: relative;
    width: 350px;
    margin-bottom: 100px;
  }
#createitem .content__createitem .left__itemname{
  position: relative;
  width: 350px;
}
#createitem .content__createitem .hr_left {
  position: relative;
  width: 350px;
}
#createitem .content__createitem .right__Preview {
  left: 0;
}
#createitem .content__Bottom .Menu_left{
  width: 300px;
}
#createitem .content__Bottom .bottom_menu{
  width: 450px;
}
#createitem .bottom_menu .create_bottom{
  margin-top: 5px;
}
#createitem .content__Bottom .Menu_right{
  top: 50px;
  left: 0;
  display: none;
}
}