@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --txt-pink: #b5689e;
  --txt-light: #fff;
  --txt-gray: #606060;
  --bg-btn: #ec4c93;
  --boder-radius: 20px;
  --border: 1.5px solid #ec4c93;
  --border-input: 1.5px solid #c4c4c4;
  --dark-pink: #a92e71;
}
#followwing__followers .navbar_item {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
}
#followwing__followers .navbar_item .container {
  max-width: 1140px;
  margin-bottom: 140px;
}
#followwing__followers Image {
  background: red;
  width: auto;
  height: auto;
}
#followwing__followers .card__bid {
  margin-top: 60px;
}

#followwing__followers .btn__cover__profile a {
  position: absolute;
  margin-top: -65px;
  right: 0px;
}
#followwing__followers a.cover {
  color: var(--txt-light);
  right: 145px;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 15px;
  margin-right: 35px;
  border-radius: var(--boder-radius);
  border: var(--border-input);
}
#followwing__followers a.profile {
  color: var(--txt-light);
  text-decoration: none;
  padding: 10px 15px;
  width: auto;
  border-radius: var(--boder-radius);
  border: var(--border-input);
}
#followwing__followers .btn__cover__profile :hover.cover {
  background: var(--dark-pink);
}
#followwing__followers .btn__cover__profile :hover.profile {
  background: var(--dark-pink);
}
#followwing__followers .detail__profile {
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  position: absolute;
  margin-top: -95px;
  background: var(--txt-light);
  padding: 0 35px;
  height: 720px;
}

#followwing__followers .content__detail {
  right: 20px;
  font-size: 11px;
  margin-top: 10%;
}
#followwing__followers .link__Profile b {
  font-size: 12px;
}
#followwing__followers .follower_profile {
  text-decoration: none;
  background: var(--dark-pink);
  padding: 10px 15px;
  border-radius: var(--boder-radius);
  color: var(--txt-light);
}
#followwing__followers .view__like {
  border-radius: 50%;
  border: 1.5px solid #606060;
  margin-left: 10px;
  padding: 10px 15px;
  color: #606060;
}
#followwing__followers .icon__link {
  margin-top: 70px;
  padding: 0 10px;
  margin-bottom: -25px;
}
#followwing__followers :hover.view__like {
  background: var(--dark-pink);
  color: var(--txt-light);
}
#followwing__followers .icon__social i {
  padding: 0 10px;
  font-size: 30px;
  margin-top: 65px;
}
#followwing__followers .ruler__bottom {
  border: 1px solid #c4c4c4;
  margin-top: 35%;
}
#followwing__followers .bottom__date {
  color: #606060;
  font-size: 12px;
  margin-top: 35px;
}
#followwing__followers .detail__profile .view__profile {
  padding-top: 28px;
}
#followwing__followers .view__name__profile {
  margin-top: 18px;
}
#followwing__followers .view__name__profile .name__profile {
  font-size: 24px;
}
/* css bid */
#followwing__followers .top__bid {
  position: relative;
  top: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#followwing__followers .container {
  max-width: 1144px;
}

#followwing__followers .top__card {
  width: 258px;
  height: 299px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
#followwing__followers .top__card img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
}

#followwing__followers .top__card:hover > img {
  transform: scale(1.2);
}

#followwing__followers .top__card:hover > .just__like {
  opacity: 1;
}

#followwing__followers .top__card .just__like {
  opacity: 0;
  transition: 0.6s all ease;
}

#followwing__followers .top__card .just__like .icon__img {
  position: absolute;
  top: 16px;
  border: none;
  right: 16px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
}

#followwing__followers .top__card .just__like .icon__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 55%;
}

#followwing__followers .title__bid h1 {
  font-size: 40px;
  font-weight: 500;
}
#followwing__followers .bottom__bid {
  position: relative;
  top: 11.8rem;
}

#followwing__followers .bottom__bid .slick-list {
  height: 428px;
  padding-left: 12px;
}

#followwing__followers .card__bid .card__title,
#followwing__followers .card__bid .card__icon,
#followwing__followers .card__bid .bottom__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#followwing__followers .card__title {
  margin-bottom: -30px;
}

#followwing__followers .card__bid .body__card,
#followwing__followers .card__bid .bottom__card,
#followwing__followers .card__bid hr {
  margin-right: 22px;
}

#followwing__followers .card__bid .body__card {
  position: relative;
  top: 23px;
}

#followwing__followers .card__bid hr {
  position: relative;
  top: 26px;
}

#followwing__followers .card__bid .card__title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-top: -10px;
}

#followwing__followers .card__bid .card__icon {
  position: relative;
  top: 15px;
  align-items: inherit;
}

#followwing__followers .card__bid {
  width: 260px !important;
  margin-left: 30px;
  position: relative;
}

#followwing__followers .card__bid .card__icon img {
  width: 29px;
  height: 29px;
}

#followwing__followers .card__bid .card__icon p {
  font-size: 14px;
  font-weight: 400;
}

#followwing__followers .card__icon p,
#followwing__followers .bottom__card p {
  color: #606060;
}

#followwing__followers .card__bid .bottom__card p {
  font-size: 12px;
  font-weight: 400;
}

#followwing__followers .card__bid .bottom__card p.bt_left span {
  font-weight: 600;
  color: #000000;
}
#followwing__followers .body__card .card__title p {
  display: flex;
  align-items: center;
  width: 66px;
  height: 26px;
  justify-content: center;
  border: 1.5px solid #a92e71;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #a92e71;
}

#followwing__followers .card__bid .bottom__card {
  position: relative;
  top: 20px;
}
#followwing__followers .just__like p.place {
  position: absolute;
  background: #a92e71;
  bottom: 16px;
  left: 72px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 16px;
  width: 115px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#followwing__followers .just__like p.purchas {
  position: absolute;
  left: 16px;
  top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec4c93;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  width: 87px;
  height: 24px;
  color: #fff;
}

#followwing__followers .just__like button:focus {
  box-shadow: none;
}
/* menuitem */

#followwing__followers .menu__item {
  width: 568px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-top: 55px;
  left: 525px;
}
#followwing__followers .btn__cover__profile {
  position: relative;
}
#followwing__followers .menu__item a {
  color: #000000;
  height: 31px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 20px;
}

#followwing__followers .menu__item a.active {
  background: #a92e71;
  color: #fff;
}
#followwing__followers .navbar_item .group__img {
  display: flex;
  margin-top: 40px;
  border-bottom: 1px solid #C4C4C4;
  padding-top: 20px;
  width: 120%;
}
#followwing__followers .navbar_item .item__image_content {
  margin-top: 20px;
  padding-top: 20px;

}
.border__ruler{
  border-bottom: 1px solid #C4C4C4;
  padding-top: 20px;
  width: 120%;
}
#followwing__followers .navbar_item .fadel__view_followings a.place {
  background: #ffffff;
  border: 1.5px solid #c4c4c4;
  color: #000000;
  top: 21px;
  transition: 0.2s all;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  weight: 500px;
}
#followwing__followers .navbar_item .fadel__view_followings a.place:hover {
  background: #a92e71;
  color: #ffffff;
  border: 1.5px solid #a92e71;
}

#followwing__followers .navbar_item .info__view__tittle {
  text-align: left;
  margin-top: -25px;
}
#followwing__followers .navbar_item .text__followings__view {
  font-size: 12px;
  color: #606060;
}
.img__view__followings{
  padding-top: -45px;
}
.view_content_col{
  margin-top: 90px;
}
.item__image_content{
 padding: 40px -200px;
}
/* =========================== Responsive ============================= */
@media screen and (max-width: 1024px) {
  #followwing__followers .navbar_item .container {
    max-width: 960px;
  }
  #followwing__followers .navbar_item .menu__item {
    left: -100px;
  }

  #followwing__followers .navbar_item .top__card {
    width: 219px;
    height: 254px;
  }

  #followwing__followers .navbar_item .just__like p.place {
    left: 50px;
  }
  #followwing__followers .navbar_item .detail__profile {
    position: relative;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  #followwing__followers .navbar_item .just__like p.place {
    left: 86px;
  }

  #followwing__followers .navbar_item .container {
    max-width: 720px;
  }

  #followwing__followers .navbar_item .menu__item {
    left: 0;
  }

  #followwing__followers .navbar_item .top__card {
    width: 297px;
    height: 343px;
  }
}

@media screen and (max-width: 576px) {
  /* .just__like p.place {
    left: 90px;
  } */
  #followwing__followers .navbar_item .container {
    max-width: 480px;
  }
  #followwing__followers .navbar_item .menu__item {
    display: contents;
  }
  #followwing__followers .navbar_item .detail__profile {
    position: relative;
    height: 120%;
    /* margin-top: 800px; */
    margin-left: 20px;
    left: 0px;
    margin-top: -30%;
  }
  #followwing__followers .navbar_item .group__img {
 
    width: 0px !important;
  }
  #followwing__followers .navbar_item a.profile {
    margin-top: -240px;
  }
  #followwing__followers .navbar_item a.cover {
    margin-top: -241px;
    font-size: 10px;
    padding: 15px;
    right: 43% !important;
  }
  #followwing__followers .navbar_item a.profile {
    font-size: 12px;
    margin-bottom: 20px;
  }

  #followwing__followers .navbar_item .bg__profile {
    margin-top: 200px;
  }
  #followwing__followers .navbar_item .view__img_small {
    display: flex;
  }
}
/* Ty le man hinh nho hon 320px */
@media screen and (max-width: 320px) {
  #followwing__followers .navbar_item .container {
    max-width: 310px;
  }
}
