@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --txt-pink: #b5689e;
  --txt-light: #fff;
  --txt-gray: #606060;
  --bg-btn: #ec4c93;
  --boder-radius: 20px;
  --border: 1.5px solid #ec4c93;
  --border-input: 1.5px solid #c4c4c4;
  --dark-pink: #a92e71;
}
#profile__header__top .navbar_item {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
}
#profile__header__top .navbar_item .container {
  max-width: 1140px;
  margin-bottom: 140px;
}
#profile__header__top Image {
  background: red;
  width: auto;
  height: auto;
}
#profile__header__top .card__bid {
  margin-top: 60px;
}

#profile__header__top .btn__cover__profile a {
  position: absolute;
  margin-top: -65px;
  right: 0px;
}
#profile__header__top a.cover {
  color: var(--txt-light);
  right: 145px;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 15px;
  margin-right: 35px;
  border-radius: var(--boder-radius);
  border: var(--border-input);
}
#profile__header__top a.profile {
  color: var(--txt-light);
  text-decoration: none;
  padding: 10px 15px;
  width: auto;
  border-radius: var(--boder-radius);
  border: var(--border-input);
}
#profile__header__top .btn__cover__profile :hover.cover {
  background: var(--dark-pink);
}
#profile__header__tople .btn__cover__profile :hover.profile {
  background: var(--dark-pink);
}
#profile__header__top .detail__profile {
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  position: absolute;
  margin-top: -95px;
  background: var(--txt-light);
  padding: 0 35px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
  height: 630px;
}

#profile__header__top .content__detail {
  right: 20px;
  font-size: 11px;
  margin-top: 10%;
}
#profile__header__top .link__Profile b {
  font-size: 12px;
}
#profile__header__top .follower_profile {
  text-decoration: none;
  background: var(--dark-pink);
  padding: 10px 15px;
  border-radius: var(--boder-radius);
  color: var(--txt-light);
}
#profile__header__top .view__like {
  border-radius: 50%;
  border: 1.5px solid #606060;
  margin-left: 10px;
  padding: 10px 15px;
  color: #606060;
}
#profile__header__top .icon__link {
  margin-top: 70px;
  padding: 0 10px;
  margin-bottom: -25px;
}
#profile__header__top :hover.view__like {
  background: var(--dark-pink);
  color: var(--txt-light);
}
#profile__header__top .icon__social i {
  padding: 0 10px;
  font-size: 30px;
  margin-top: 65px;
}
#profile__header__top .ruler__bottom {
  border: 1px solid #c4c4c4;
  margin-top: 35%;
}
#profile__header__top .bottom__date {
  color: #606060;
  font-size: 12px;
  margin-top: 35px;
}
#profile__header__top .detail__profile .view__profile {
  padding-top: 28px;
}
#profile__header__top .view__name__profile {
  margin-top: 18px;
}
#profile__header__top .view__name__profile .name__profile {
  font-size: 24px;
}
/* css bid */
#profile__header__top .top__bid {
  position: relative;
  top: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile__header__top .container {
  max-width: 1144px;
}

#profile__header__top .top__card {
  width: 258px;
  height: 299px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
#profile__header__top .top__card img {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  transition: 0.5s all ease;
}

#profile__header__top .top__card:hover > img {
  transform: scale(1.2);
}

#profile__header__top .top__card:hover > .just__like {
  opacity: 1;
}

#profile__header__top .top__card .just__like {
  opacity: 0;
  transition: 0.6s all ease;
}

#profile__header__top .top__card .just__like .icon__img {
  position: absolute;
  top: 16px;
  border: none;
  right: 16px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
}

#profile__header__top .top__card .just__like .icon__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 55%;
}

#profile__header__top .title__bid h1 {
  font-size: 40px;
  font-weight: 500;
}

#profile__header__top .bottom__bid {
  position: relative;
  top: 11.8rem;
}

#profile__header__top .bottom__bid .slick-list {
  height: 428px;
  padding-left: 12px;
}

#profile__header__top .card__bid .card__title,
#profile__header__top .card__bid .card__icon,
#profile__header__top .card__bid .bottom__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#profile__header__top .card__title {
  margin-bottom: -30px;
}

#profile__header__top .card__bid .body__card,
#profile__header__top .card__bid .bottom__card,
#profile__header__top .card__bid hr {
  margin-right: 22px;
}

#profile__header__top .card__bid .body__card {
  position: relative;
  top: 23px;
}

#profile__header__top .card__bid hr {
  position: relative;
  top: 26px;
}

#profile__header__top .card__bid .card__title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-top: -10px;
}

#profile__header__top .card__bid .card__icon {
  position: relative;
  top: 15px;
  align-items: inherit;
}

#profile__header__top .card__bid {
  width: 260px !important;
  margin-left: 30px;
  position: relative;
}

#profile__header__top .card__bid .card__icon img {
  width: 29px;
  height: 29px;
}

#profile__header__top .card__bid .card__icon p {
  font-size: 14px;
  font-weight: 400;
}

#profile__header__top .card__icon p,
#profile__header__top .bottom__card p {
  color: #606060;
}

#profile__header__top .card__bid .bottom__card p {
  font-size: 12px;
  font-weight: 400;
}

#profile__header__top .card__bid .bottom__card p.bt_left span {
  font-weight: 600;
  color: #000000;
}
#profile__header__top.body__card .card__title p {
  display: flex;
  align-items: center;
  width: 66px;
  height: 26px;
  justify-content: center;
  border: 1.5px solid #a92e71;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #a92e71;
}

#profile__header__top .card__bid .bottom__card {
  position: relative;
  top: 20px;
}
#profile__header__top .just__like p.place {
  position: absolute;
  background: #a92e71;
  bottom: 16px;
  left: 72px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 16px;
  width: 115px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile__header__top .just__like p.purchas {
  position: absolute;
  left: 16px;
  top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec4c93;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  width: 87px;
  height: 24px;
  color: #fff;
}

#profile__header__top .just__like button:focus {
  box-shadow: none;
}
/* menuitem */

#profile__header__top .menu__item {
  width: 568px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-top: 55px;
  left: 610px;
}
#profile__header__top .btn__cover__profile {
  position: relative;
}
#profile__header__top .menu__item a {
  color: #000000;
  height: 31px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 20px;
}

#profile__header__top .menu__item a.active {
  background: #a92e71;
  color: #fff;
}

/* =========================== Responsive ============================= */
@media screen and (max-width: 1024px) {
  #profile__header__top .menu__item {
    left: 300px;
  }
  #profile__header__top .top__card img {
    width: 80%;
  }
  #profile__header__top .card__bid {
    width: auto;
  }
}
/* <768px */
@media screen and (max-width: 768px) {
  #profile__header__top .menu__item {
    display: contents;
    position: relative;
    padding-top: 20px;
  }
  #profile__header__top .top__card img {
    width: 100%;
    position: relative;
  }
  #profile__header__top .detail__profile {
    margin: -175px 140px;
    position: relative;
    height: 820px;
    width: 420px;
  }
  #profile__header__top .view__bid {
    margin: 0 190px;
    padding-top: 100px;
  }
  #profile__header__top a.profile {
    margin-top: -240px;
  }
  #profile__header__top a.cover {
    margin-top: -240px;
    font-size: 10px;
    padding: 15px;
  }
  #profile__header__top .bg__profile {
    margin-top: 200px;
  }
}
/* <576px */
@media screen and (max-width: 576px) {
  #profile__header__top .container {
    max-width: 480px;
  }
  #profile__header__top .menu__item {
    display: contents;
    position: relative;
    padding-top: 20px;
  }
  #profile__header__top .top__card img {
    width: 100%;
  }
  #profile__header__top .detail__profile {
    margin: -175px 15px;
    position: relative;
    height: 660px;
  }
  #profile__header__top .view__bid {
    margin: 0 15px;
    padding-top: 100px;
  }
  #profile__header__top a.profile {
    margin-top: -240px;
  }
  #profile__header__top a.cover {
    margin-top: -240px;
    font-size: 10px;
    padding: 15px;
  }
  #profile__header__top a.profile {
    font-size: 12px;
    margin-bottom: 20px;
  }

  #profile__header__top .bg__profile {
    margin-top: 200px;
  }
}
