@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#scanwallet {
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
#scanwallet .button-header{
    position: relative;
    height: 126px;
    
}
#scanwallet a{
    text-decoration: none;
    color: black;
}
#scanwallet .container{
    max-width: 1144px;
}
#scanwallet .button-header a{
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 90px;
}
#scanwallet .back-home{
    position: absolute;
    /* left: 400px; */
    top: 73px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center; 
}
#scanwallet .back-home:hover,  #scanwallet .back-home a:hover {
    background: #a92e71;
    color: white !important;
    border-radius: 90px;
}

#scanwallet .title-header{
    position: absolute;
    top: 82px;
    right: 0;
    /* left: 1419px; */
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
}
#scanwallet .main{
    position: relative;
    height: 922px;
}
#scanwallet .img-title-select{
    position: relative;
    width: 523px;
    height: 125px;
    /* left: 400px; */
    top: 125px;
    padding: 30px;
    cursor: pointer;
}
#scanwallet .img-title-select span{
    /* position: relative; 
    padding: auto;
    left: 30px;
    top: 3px; */
    position: absolute;
    padding: auto;
    left: 114px;
    top: 53px;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
}
#scanwallet .img-main{
    position: absolute; 
    top: 220px;
    right: 0;
}
#scanwallet .img-title-select:hover::after{
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3rem;
    top: 36%;
    left: 90%;
    /* display: none; */
}
#scanwallet .title-main{
    position: absolute;
    right: 131px;
    top: 125px;
    
}
#scanwallet .title-main span{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    color: #000;
}
#scanwallet .title-main p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
}
#scanwallet .selection-button{
    position: absolute;
    right: 205px;
    display: flex;
    overflow: hidden;
    top: 690px;
}
#scanwallet .selection-button a{
    padding: 7px 10px;
    color:#000;
    border: 1px solid gray;
    border-radius: 90px;
}
#scanwallet .selection-button a:hover{
    color:white;
    background: #a92e71;
   
}
.hidden-img{
    width: 65px;
    height: 65px;
}
.check-item{
    position: absolute;
    left: 30px;
    border-radius: 50%;
    padding: 23px;
    z-index: 100;
 
}
.item-1{
    border: 1px solid purple;
    color: purple;  
     display: none;
}
.item-2{
    border: 1px solid blue;
    color: blue;
    display: none;
}
.item-3{
    border: 1px solid green;
    color: green;
    display: none;
}
.item-4{
    border: 1px solid pink;
    color: pink;
    display: none;

}
