@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* --txt-pink-footer: #ec4c93; */
  --bd-radius-input-upload: 15px;
  --bd-input-upload: 1px solid #c4c4c4;
  /* --bd-radius-btn-footer: 50%;
    --txt-dark-pink-footer: #a92e71; */
}
#uploaditem .container{
  font-family: "Lora",sans-serif;
  width: 100%;
  overflow: hidden;
  height: auto;
  /* position: relative; */
  /* width: 1144px; */
}
#uploaditem .Center_upload .item {
  font-family: 'Poppins', sans-serif;
}
#uploaditem .ContentUpload .right_Upload .up{
  margin-top: 10px;
}
#uploaditem .ContentUpload .right_Upload .up b{
  margin-left: 70px;
/* Upload Item */
font-weight: 600px;
/* identical to box height */
text-align: center;
color: #000000;
/* Inside Auto Layout */
font-family: "Lora",sans-serif;
}
#uploaditem  a {
  text-decoration: none;
  font-family: "Lora";
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
#uploaditem a:hover {
  color: #fff;
  background: #a92e71;
}
#uploaditem .btnBack:hover a {
  color: #fff;
}

#uploaditem .ContentUpload {
  margin-top: 72px;
  margin-bottom: 10px;
}

#uploaditem .container {
  max-width: 1144px;
}
#uploaditem a {
  width: 150px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #c4c4c4c4;
  border-radius: 30px;
  color: #000;
}
#uploaditem .btnBack i {
  padding-right: 5px;
}

#uploaditem .ContentUpload .left_Upload .btnBack .Back:hover {
  background: #a92e71;
  cursor: default;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  padding: 5px 0px;
}
#uploaditem .ContentUpload .left_Upload .btnBack .Back .btna {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  padding-bottom: 6px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
}
#uploaditem .ContentUpload .left_Upload .btnBack .Back .btna b {
  padding-left: 10px;
}
#uploaditem .Upload_Item {
  margin-top: 30px;
  margin-bottom: 80px;
}

#uploaditem .Center_upload .item {
  margin-bottom: 60px;
}
#uploaditem .Center_upload h1 {
  text-align: center;
}
#uploaditem .Center_upload p {
  font-family: 'Poppins', sans-serif;
  width: 880px;
  top: 66px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #606060;
  margin: 24px 0px;
  margin-left: 20px;
}
#uploaditem .Center_upload .Creat {
  text-align: center;
  margin-left: 115px;
}
#uploaditem .Center_upload .Creat .single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 18px 22px;
  width: 354px;
  height: 367px;
  background: #ffffff;
  border-radius: var(--bd-radius-input-upload);
  border: var(--bd-input-upload);
}
#uploaditem .Center_upload .Creat .mutiple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 18px 22px;
  width: 354px;
  height: 367px;
  background: #ffffff;
  border-radius: var(--bd-radius-input-upload);
  border: var(--bd-input-upload);
  margin-left: 17px;
}
#uploaditem .Center_upload .Creat .creat_single_mutiple {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 20px;
}
#uploaditem .Center_upload .Creat .creat_single_mutiple .single_mutiple {
  /* Creat Single */
position: static;
width: 120px;
height: 17px;
left: 32.5px;
top: 15.5px;
font-family: "Lora",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: #000000;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
#uploaditem .Center_upload .confirmation p{
  color: #606060;
  margin-left: 40px;
  text-align: center;
  margin-top: 40px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
/* =============================== Responsive ================================== */
@media screen and (max-width: 1024px)
  {
    #uploaditem .Center_upload .Creat .single{
      position: relative;
      right: 50px;
    }
#uploaditem .ContentUpload .right_Upload .up b{
      margin-left: 45px;
}
#uploaditem .Center_upload p {
      margin-left: 0px;
}
#uploaditem .Center_upload .confirmation p{
      margin-left: 0px;
}
  }
  @media screen and (max-width: 768px){
    #uploaditem .Center_upload h1{
      position: relative;
      right: 160px;
    }
    #uploaditem .ContentUpload .right_Upload .up b{
      margin-left: 250px;
    }
    #uploaditem .Center_upload p {
      position: relative;
      width: 400px;
      right: 190px;
    }
    #uploaditem .Center_upload .Creat .single{
      right: 490px;
      top: 30px;
    }
    #uploaditem .Center_upload .Creat .mutiple {
      position: relative;
      right: 260px;
      top: 30px;
    }
    #uploaditem .Center_upload .confirmation{
      position: relative;
      right: 80px;
    }
    #uploaditem .Center_upload .Creat .mutiple{
      margin-left: 5px;
    }
    #uploaditem .Center_upload .confirmation p {
      margin-left: 80px;
    }
  }
   @media screen and (max-width: 540px){
    #uploaditem .ContentUpload .right_Upload .up b {
      position: relative;
      left: 170px;
      bottom: 40px;
    }
    #uploaditem .ContentUpload{
      left: 0;
      left: 190px;
    }
    #uploaditem .container .Upload_Item {
      position: relative;
      left: 200px;
    }
    #uploaditem .Center_upload h1{
      position: relative;
      right: 200px;
    }
    #uploaditem .Center_upload p{
      position: relative;
      right: 135px;
    }
    #uploaditem .Center_upload .Creat .single{
      position: relative;
      right: 230px;
    }
    #uploaditem .Center_upload .Creat .mutiple {
      position: relative;
      right: 235px;
      top: 45px;
    }
    #uploaditem .Center_upload .confirmation{
      right: 40px;
    }
    #uploaditem .Center_upload .confirmation p{
      margin-left: 30px;
    }
   }
  @media screen and (max-width: 414px){
    #uploaditem .ContentUpload .right_Upload .up b{
      left: 50px;
    }
    #uploaditem .Center_upload h1{
      position: relative;
      right: 190px;
    }
    #uploaditem .Center_upload p {
      position: relative;
      width: 260px;
      top: 0px;
    }
    #uploaditem .Center_upload .Creat .single{
      width: 300px;
      right: 270px;
      height: 330px;
      top: 0px;
    }
    #uploaditem .Center_upload .Creat .creat_single_mutiple{
      position: relative;
      bottom: 20px;
    }
    #uploaditem .Center_upload .Creat .single .img_single img{
      position: relative;
      width: 270px;
    } 
    #uploaditem .Center_upload .Creat .mutiple{
      width: 300px;
      right: 273px;
      height: 330px;
    }
    #uploaditem .Center_upload .Creat .mutiple .img_mutiple img{
      position: relative;
      width: 270px;
    }
    #uploaditem .Center_upload .confirmation p{
      position: relative;
      top: 30px;
      margin-left: 40px;
    }
  }
  @media screen and (max-width: 375px){
    #uploaditem .ContentUpload .right_Upload .up b{
      left: 10px;
    }
    #uploaditem .Center_upload .Creat .single {
      width: 250px;
      height: 285px;
      right: 260px;
    }
    #uploaditem .Center_upload .Creat .single .img_single img{
      width: 220px;
    }
    #uploaditem .Center_upload .Creat .creat_single_mutiple{
      position: relative;
      bottom: 40px;
    }
    #uploaditem .Center_upload .Creat .mutiple{
      width: 250px;
      height: 285px;
      right: 263px;
    }
    #uploaditem .Center_upload .Creat .mutiple .img_mutiple img{
      width: 220px;
    }
    #uploaditem .Center_upload .confirmation p {
      margin-left: 37px;
    }
    #uploaditem .Center_upload p {
      right: 145px;
    }
  }

  @media screen and (max-width: 360px){
    #uploaditem .ContentUpload .right_Upload .up b{
      position: relative;
      left: 10px;
    }
  }
  @media screen and (max-width: 280px){
    #uploaditem .container{
      width: 300px;
    }
  }

  
