@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* --txt-pink-footer: #ec4c93; */
  --bd-radius-input-upload: 15px;
  --bd-input-upload: 1px solid #c4c4c4;
  /* --bd-radius-btn-footer: 50%;
    --txt-dark-pink-footer: #a92e71; */
}
#uploaditem {
  font-family: "Lora";
}
#uploaditem  a {
  text-decoration: none;
  font-family: "Lora";
  color: #000;
  font-weight: 500;
}
#uploaditem a:hover {
  color: #fff;
  background: #a92e71;
}
#uploaditem .btnBack:hover a {
  color: #fff;
}

#uploaditem .ContentUpload {
  margin-top: 72px;
  margin-bottom: 30px;
}

#uploaditem .container {
  max-width: 1144px;
}
#uploaditem a {
  width: 150px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #c4c4c4c4;
  border-radius: 30px;
  color: #000;
}
#uploaditem .btnBack i {
  padding-right: 5px;
}

#uploaditem .ContentUpload .left_Upload .btnBack .Back:hover {
  background: #a92e71;
  cursor: default;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  padding: 5px 0px;
}
#uploaditem .ContentUpload .left_Upload .btnBack .Back .btna {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  padding-bottom: 6px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
}
#uploaditem .ContentUpload .left_Upload .btnBack .Back .btna b {
  padding-left: 10px;
}
#uploaditem .Upload_Item {
  margin-top: 30px;
  margin-bottom: 80px;
}

#uploaditem .Center_upload .item {
  margin-bottom: 60px;
}
#uploaditem .Center_upload h1 {
  text-align: center;
}
#uploaditem .Center_upload p {
  position: static;
  width: 880px;
  top: 66px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #606060;
  margin: 24px 0px;
}
#uploaditem .Center_upload .Creat {
  text-align: center;
  margin-left: 115px;
}
#uploaditem .Center_upload .Creat .single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 18px 22px;
  position: static;
  width: 354px;
  height: 364px;
  background: #ffffff;
  border-radius: var(--bd-radius-input-upload);
  border: var(--bd-input-upload);
}
#uploaditem .Center_upload .Creat .mutiple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 18px 22px;
  position: static;
  width: 354px;
  height: 364px;
  background: #ffffff;
  border-radius: var(--bd-radius-input-upload);
  border: var(--bd-input-upload);
  margin-left: 17px;
}
#uploaditem .Center_upload .Creat .creat_single_mutiple {
  margin-top: 30px;
  margin-bottom: 20px;
}

#uploaditem .Center_upload .confirmation {
  color: #606060;
  margin-left: 40px;
  text-align: center;
  margin-top: 30px;
  font-family: SVN-Poppins;
  font-style: normal;
  font-size: 8px;
}

/* =============================== Responsive ================================== */
/* Ty le man hinh nho hon 1200*/
@media screen and (max-width: 1200px) {
  #uploaditem .Upload_Item .center_Upload h1 {
    margin-left: 100px;
  }
  #uploaditem .Upload_Item .center_Upload .Creat .single {
    margin-left: 160px;
    margin-bottom: 20px;
  }
  #uploaditem .Upload_Item .center_Upload .Creat .mutiple {
    margin-left: 160px;
  }
  #uploaditem .Upload_Item .center_Upload .confirmation p {
    padding-right: 35px;
  }
}

/* Ty le man hinh nho hon 991*/
@media screen and (max-width: 991px) {
  #uploaditem .Upload_Item {
    width: 150px;
    flex-direction: column;
  }
}
