@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

#viewitem .container{
    width: 1144px;
    font-family: 'Poppins', sans-serif;
}

#viewitem .left_imgArt{
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
}
#viewitem.container{
    max-width: 1250px;
    /* margin-left: 105px; */
    font-family: "Lora";
  }
#viewitem .right_Art{
  margin-top: 125px;
  margin-bottom: 125px;
  text-align: left;
  fill: solid;
  color: #000000;
  margin-left: 170px;
}
#viewitem .right_Art .price_art{
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    
}
#viewitem .right_Art .price_art .price_eth{
    border: 1px solid #A92E71;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  color: #A92E71;
  margin-right: 15px;
}
#viewitem .right_Art .price_art .price{
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    color: #606060;
    margin-right: 15px;
}
#viewitem .right_Art .price_art .stock{
    color: #606060;
}
#viewitem .right_Art .link p{
    color: #606060;
    font-size: 16px;
    text-align: left;
}
#viewitem .right_Art .link{
    margin-top: 47px;
}
#viewitem .right_Art .link u{
    color:#000000;
}
#viewitem .right_Art .info span:hover{
    color: #FFFFFF;
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: black;
}
#viewitem .right_Art .info span{
    margin-right: 20px;
    padding: 2px 6px;
}
#viewitem .right_Art .info{
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 6px;
    width: 340px;
    height: 390;
    margin-top: 40px;
}
#viewitem .right_Art .owner_will{
    margin-top: 40px;
}
#viewitem .right_Art .owner_will span{
    margin-left: 16px;
    margin-bottom: 20px;
}
#viewitem .right_Art .owner_will .owner{
    color: #606060;
}
#viewitem .right_Art .owner_will hr{
    width: 340px;
    margin-top: 14px;
    margin-left: 13px;
    color: #C4C4C4;
    text-align: center;
}
#viewitem .right_Art .highest{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    width: 386px;
    height: 233px;
    margin-top: 47px;
}
#viewitem .right_Art .highest .price_highest{
    margin: 24px 24px;
}
#viewitem .right_Art .highest .price_highest .highest_bid{
    padding-right: 3px;
    padding-left: 8px;
    position: static;
    width: 116px;
    height: 17px;
    left: 0px;
    top: 0px;   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */  
    text-align: center; 
    color: #606060;
    /* Inside Auto Layout */ 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px;
}
#viewitem .right_Art .highest .price_highest .eth{
position: static;
height: 25px;
top: 0px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 25px;
color: #606060;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}
#viewitem .right_Art .highest .price_highest .ETH{
    position: static;
    height: 25px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;   
    color: #000000;  
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
#viewitem .right_Art .highest .purchase_place .purchase{
    /* border: 1px solid #C4C4C4; */
    box-sizing: border-box;
    border-radius: 25px;
    width: 180px;
    height: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    /* background-color: white; */
    margin-left: 12px;
    display: flex;
}
#viewitem .right_Art .highest .purchase_place .purchase a{
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid #C4C4C4;
    font-size: 16px;
    
}
#viewitem .right_Art .highest .purchase_place .purchase a:hover{
    color: #FFFFFF;
    background: #A92E71;
    color: #FFFFFF;
}
/* #viewitem .right_Art .highest .purchase_place .purchase:hover{
    background: #A92E71;
    color: #FFFFFF;
} */
#viewitem .right_Art .highest .purchase_place .place{
    /* border: 1px solid #C4C4C4; */
    box-sizing: border-box;
    border-radius: 25px;
    width: 166px;
    height: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    background-color: white;
}
#viewitem .right_Art .highest .purchase_place .place a{
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid #C4C4C4;
    font-size: 16px;
    border: 1px solid #C4C4C4;
}
#viewitem .right_Art .highest .purchase_place .place a:hover{
    color: #FFFFFF;
    background: #A92E71;
}
/* #viewitem .right_Art .highest .purchase_place .place:hover{
    background: #A92E71;
} */
#viewitem .right_Art .highest .Service{
    margin-left: 24px;
    margin-top: 35px;
}
#viewitem .right_Art .highest .Service span{
    padding-right: 12px;
    color: #606060;
}
/* #viewitem .left_imgArt .imgArt img{
    position: absolute;
       width: 100%;
      height: 100%; 
       transition: 0.5s all ease;
  } */
#viewitem .left_imgArt .imgArt .like{
 opacity: 0;
    transition: 0.6s all ease; 
  }
  #viewitem .left_imgArt .imgArt:hover .like{
    opacity: 1;
  }
#viewitem .left_imgArt .imgArt .like p.purchase{
    position: absolute;
    background: black;
    bottom: 700px;
    left: 45px;
    color: #fff;
    font-size: 14px;
    /* font-weight: 500; */
    border-radius: 5px;
    width: 40px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
  }
#viewitem .left_imgArt .imgArt .like .icon__img{
    position: absolute;
    top: 650px;
    left: 220px;
    border: none;
    /* width: 50px;
    height: 50px; */
    background: #fff;
    border-radius: 25px;
  }
  #viewitem .left_imgArt .imgArt .like .icon__img .ellipse{
      margin-right: 24px;
      margin-left: 24px;
      border-radius: 50px;
      width: 42px;
      height: 42px;

  }
  #viewitem .left_imgArt .imgArt .like .icon__img .vector
  {
      margin-left: 10px;
  }
  /* #viewitem .left_imgArt .imgArt .like .icon__img .arrow{
      
  } */
  #viewitem .left_imgArt .imgArt .like p.place{
    position: absolute;
      background: #a92e71;
      bottom: 700px;
      left: 100px;
      color: #fff;
      font-size: 13px;
      /* font-weight: 500; */
      border-radius: 5px;
      width: 104px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  /* ===============================Modal================================== */
#modal_choose .modal-content{
    width: 250px;
    height: 300px;
  }
#modal_change .modal-content{
    width: 443px;
    height: 349px;
}
#modal_change .modal-content .newPrice{
    position: static;
width: 66px;
height: 18px;
left: 0px;
top: 0px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
#modal_change .modal-content input{
    position: relative;
    top: 20px;
    height: 50px;
}
#modal_Transfer .modal-content{
    width: 443px;
height: 420px;
}
#modal_Transfer .modal-content .transfer_token{
    
position: static;
width: 348px;
height: 48px;
left: 0px;
top: 70px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
#modal_Transfer .modal-content .address{
    position: static;
width: 209px;
height: 36px;
left: 0px;
top: 0px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
color: #000000;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}
#modal_Transfer .modal-content .paste{
    position: static;
width: 115px;
height: 24px;
left: 0px;
top: 0px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}
#modal_remove .modal-content{
    width: 443px;
height: 316px;
}
#modal_remove .modal-content .remove_item{
    position: static;
width: 348px;
height: 48px;
left: 0px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 30px 0px;
}
#modal_burn .modal-content{
    width: 443px;
height: 316px;
}
#modal_burn .modal-content .burn_token{
    position: static;
width: 348px;
height: 72px;
left: 0px;
top: 70px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 25px 0px;
}
#modal_report .modal-content{
    width: 443px;
    height: 471px;
}
#modal_report .modal-content .report_token{
    position: static;
width: 348px;
height: 48px;
left: 0px;
top: 70px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #606060;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
#modal_report .modal-content .message{
    position: static;
width: 56px;
height: 18px;
left: 0px;
top: 0px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
color: #000000;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
#modal_report .modal-content input{
    position: relative;
    height: 80px;
}
.modal-content .modal-footer .place_continue{
    background: #A92E71;
}
.modal-content .modal-body .change{
    position: relative;
    margin-left: 28px;
    bottom: 17px;
width: 315x;
height: 8px;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 14px;
/* identical to box height */
color: #606060;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.modal-content .modal-body hr{
    top: 0px;
position: static;
height: 0px;
left: 20px;
border: 1px solid #C4C4C4;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#modal_arrow .modal-content {
    position: relative;
    width: 215px;
    height: 153px;
    /* top: 55px;
    right: 320px; */
} 
#modal_arrow .modal-content .modal-body{
    left: 18px;
    top: 20px;
}
#modal_arrow .modal-content .share{
    position: static;
width: 157px;
height: 15px;
left: 29px;
top: 32px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
/* identical to box height */
color: #000000;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
/* #modal1 .modal-content{
    width: 443px;
    height: 453px;
} */
  /* =============================== Responsive ================================== */
  @media screen and (max-width: 1024px){
    #viewitem .left_imgArt .imgArt{
        position: relative;
        right: 30px;
    }
    #viewitem .right_Art .highest{
        position: relative;
        width: 350px;
        bottom: 40px;
    }
    #viewitem .right_Art .highest .purchase_place .purchase {
        position: relative;
        right: 10px;
    }
    #viewitem .right_Art .highest .purchase_place .place {
        position: relative;
        right: 5px;
    }
    #viewitem .right_Art{
        margin-left: 150px;
    }
  }
  @media screen and (max-width: 768px){
    #viewitem .right_Art .highest .price_highest .price_highesr{
        margin-left: 38px;
    }
    #viewitem .right_Art .highest .price_highest img{
        position: relative;
        left: 130px;
    }
    #viewitem .left_imgArt .imgArt {
        position: relative;
        left: 60px;
        top: 1080px;
    }
    #viewitem .left_imgArt .imgArt .imageArt{
        position: relative;
        right: 30px;
    }
    #viewitem .right_Art {
        position: relative;
        bottom: 1080px;
    }
    #viewitem .right_Art .highest{
        position: relative;
        height: 350px;
    }
    #viewitem .right_Art .highest .purchase_place .purchase {
        left: 35px;
    }
    #viewitem .right_Art .highest .purchase_place .place {
        left: 48px;
        top: 10px;
    }
    #viewitem .right_Art .owner_will span {
        position: relative;
        margin-left: 0;
    }
    @media screen and (max-width: 540px){
        #viewitem .left_imgArt .imgArt img{
        }
    }
    @media screen and (max-width: 414px){
        #viewitem .left_imgArt .imgArt img {
            position:relative;
            width: 380px;
            left: 34px;

        }
        #viewitem .right_Art{
            position: relative;
            left: -120px;
    }
    #viewitem .right_Art .price_art{
        width: 300px;
    }
}
    @media screen and (max-width: 375px){
        #viewitem .left_imgArt .imgArt img {
            position: relative;
            width: 345px;
            bottom: 200px;
        }
        #viewitem .right_Art{
            bottom: 600px;
            left: -138px;
        }
    }
    @media screen and (max-width: 360px){
        #viewitem .left_imgArt .imgArt img{
            width: 330px;
        }
        #viewitem .right_Art .price_art {
            width: 300px;
        }
        #viewitem .right_Art{
            position: relative;
            right: 140px;
        }
        #viewitem .right_Art .highest {
            width: 300px;
        }
        #viewitem .right_Art .highest .purchase_place .purchase{
            position: relative;
            margin-right: 40px;
        }
        #viewitem .right_Art .highest .purchase_place .place{
            position: relative;
            margin-right: 40px;
        }
        #viewitem .right_Art .highest .price_highest img{
            left: 100px;
        }
        #viewitem .right_Art .highest .Service {
            margin-left: 50px;
        }
    }
  }
  @media screen and (max-width: 540px){
    #viewitem .right_Art{
        right: 70px;
        margin-bottom: -450px;
    }
    #viewitem .left_imgArt .imgArt{
        position: relative;
        margin-top: 0px;
        top: 800px;
        left: 100px;
    }
    #viewitem .left_imgArt .imgArt .imageArt{
        width: 380px;
    }
    #viewitem .left_imgArt .imgArt .like p.purchase {
        position: relative;
        bottom: 600px;
        left: -20px;
    }
    #viewitem .left_imgArt .imgArt .like p.place{
        position: relative;
        bottom: 643px;
        left: 30px;
    }
    #viewitem .left_imgArt .imgArt .like .icon__img {
        top: 540px;
        /* left: 75px; */
    }
    @media screen and (max-width: 414px){
        #viewitem .right_Art .link p{
            width: 250px;
        }
        #viewitem .container{
            position: relative;
            left: 30px;
        }
        #viewitem .right_Art .info span{
            padding: 2px 2px;
        }
        #viewitem .right_Art .info {
            width: 265px;
        }
        #viewitem .right_Art .owner_will hr{
            width: 265px;
        }
        #viewitem .right_Art .highest {
            width: 280px;
        }
        #viewitem .right_Art .highest .price_highest .highest_bid{
            font-size: 15px;
            padding-left: 0px;
            
        }
        #viewitem .right_Art .highest .price_highest .price_highesr{
            margin-left: 0px;
        }
        #viewitem .right_Art .highest .price_highest img{
            left: 98px;
        }
        #viewitem .right_Art .highest .price_highest .ETH{
            margin: 0px;
        }
        #viewitem .right_Art .highest .purchase_place .purchase {
            left: 17px;
        }
        #viewitem .right_Art .highest .purchase_place .place{
            left: 30px;
        }
        #viewitem .left_imgArt .imgArt .imageArt {
            position: relative;
            width: 280px;
            left: -70px;
        }
        #viewitem .left_imgArt .imgArt .like .icon__img{
            left: -38px;
            top: 485px;
        }
        #viewitem .left_imgArt .imgArt img{
            width: 50px;
            left: -1px;
        }
        #viewitem .left_imgArt .imgArt .like p.purchase{
            bottom: 530px;
            left: -50px;
        }
        #viewitem .left_imgArt .imgArt .like p.place{
            bottom: 573px;
            left: 1px;
        }
    }
  }
  @media screen and (max-width: 375px){
    #viewitem .right_Art{
        bottom: 1170px;
        margin-bottom: -800px;
    }
    #viewitem .container{
        left: 45px;
    }
    #viewitem .right_Art .price_art .stock {
        position: relative;
        top: 42px;
        right: 100px;
    }
    #viewitem .right_Art .price_art .price{
        position: relative;
        left: 40px;
        top: 10px;
    }
    #viewitem .right_Art .price_art .price_eth {
        position: relative;
        left: 40px;
        top: 10px;
    }
    #viewitem .right_Art .info span{
        padding: 0px;
    }
    #viewitem .right_Art .info{
        width: 246px;
    }
    #viewitem .right_Art .link p{
        position: relative;
        top: 10px;
    }
    #viewitem .right_Art .owner_will span{
        margin-left: 80px;
    }
    #viewitem .right_Art .owner_will img{
        margin-left: 100px;
    }
    #viewitem .right_Art .owner_will .owner{
        margin-left: 100px;
    }
    #viewitem .right_Art .owner_will hr{
        width: 246px;
    }
    #viewitem .right_Art .highest{
        width: 246px;
    }
    #viewitem .right_Art .highest .price_highest .highest_bid{
        font-size: 14px;
    }
    #viewitem .right_Art .highest .price_highest span{
        font-size: 13px;
    }
    #viewitem .right_Art .highest .price_highest img{
        left: 80px;
    }
    #viewitem .right_Art .highest .price_highest .ETH{
        font-size: 22px;
    }
    #viewitem .right_Art .highest .price_highest .eth {
        font-size: 22px;    
    }
    #viewitem .right_Art .highest .purchase_place .purchase{
        left: 10px;
    }
    #viewitem .right_Art .highest .purchase_place .place{
        left: 22px;
    }
    #viewitem .left_imgArt .imgArt .imageArt{
        bottom: 100px;
        width: 246px;
        left: -87px;
    }
    #viewitem .left_imgArt .imgArt .like p.purchase{
        bottom: 620px;
        left: -70px;
    }
    #viewitem .left_imgArt .imgArt .like p.place{
        bottom: 664px;
        left: -5px;
    }
    #viewitem .left_imgArt .imgArt .like .icon__img{
        top: 370px;
        left: -68px;
    }
    #viewitem .left_imgArt .imgArt img {
        bottom: 0px;
    }
  }
