#creator__network {
  max-width: 1920px;
  min-height: 1955px;
}

#creator__network .container {
  max-width: 1144px;
}

/* ===================== Top Network ====================== */

#creator__network .top__network {
  text-align: center;
  position: relative;
  top: 127px;
}

#creator__network .top__network a {
  border: 1.5px solid #c4c4c4;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  color: #000000;
  transition: 0.3s;
}

#creator__network .top__network a:hover {
  background: #a92e71;
  border: 1.5px solid #a92e71;
  color: #ffffff;
}

#creator__network .top__network h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

#creator__network .top__network h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 37px;
}

/* ===================== Content Network ====================== */

#creator__network .content__network {
  position: relative;
  top: 16.5rem;
}

#creator__network .content__network .left__img {
  max-width: 639px;
  height: 802px;
  border-radius: 15px;
}

#creator__network .content__network .left__img img {
  width: 100%;
  height: 100%;
}

#creator__network .right__card {
  position: relative;
  left: 90px;
}

#creator__network .right__card h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: -12px;
  left: 10px;
  line-height: 77px;
}

#creator__network .account__info {
  display: flex;
  position: relative;
  top: -23px;
  left: 13px;
  margin-top: 13px;
}

#creator__network .account__info p {
  margin: 0;
}

#creator__network .account__info .creator,
#creator__network .account__info .price {
  display: flex;
}

#creator__network .account__info .img {
  position: relative;
  width: 40px;
  height: 40px;
  background: #a92e71;
  border-radius: 50%;
}

#creator__network .account__info img {
  width: 100%;
  height: 100%;
}

#creator__network .account__info .price img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

#creator__network .account__info .descriptions {
  padding-left: 9px;
}

#creator__network .account__info .price {
  position: relative;
  left: 61px;
}

#creator__network .account__info .descriptions p:nth-child(1) {
  color: #606060;
  font-size: 12px;
  font-weight: 500;
}

#creator__network .account__info .descriptions p:nth-child(2) {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

#creator__network .card__current {
  width: 370px;
  height: 317px;
  position: relative;
  top: 12px;
}

#creator__network .card__current img {
  width: 100%;
  height: 100%;
}

#creator__network .btn__place__view a {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 13px 130px;
  border-radius: 30px;
  position: relative;
}

#creator__network .btn__place__view {
  position: relative;
  top: 32px;
  left: 12px;
}

#creator__network .btn__place__view a.place {
  background: #a92e71;
  color: #ffffff;
  top: 21px;
}

#creator__network .btn__place__view a.view {
  top: 57px;
  background: #ffffff;
  color: #000000;
  border: 1.5px solid #c4c4c4;
  padding: 11px 132px;
  transition: 0.2s all;
}

#creator__network .btn__place__view a.view:hover {
  background: #a92e71;
  color: #ffffff;
  border: 1.5px solid #a92e71;
}

#creator__network .previout__next {
  display: inline-flex;
  position: relative;
  top: 11.4rem;
  left: 12px;
}

#creator__network .previout__next a {
  color: #c4c4c4;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
  padding: 2px 7px;
}

#creator__network .previout__next a i {
  font-weight: 300;
}

#creator__network .previout__next .next {
  margin-left: 6px;
}

/* ===================== Bottom Network ====================== */

#creator__network .bottom__network {
  position: relative;
  top: 24.6rem;
}
#creator__network .bottom__network .left__network .the__img__lg {
  position: relative;
  width: 447px;
  height: 433px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.4s all;
}

#creator__network .bottom__network .left__network .the__img__lg img,
#creator__network
  .bottom__network
  .left__network
  .eth_never_die
  .img__eth__never
  img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

#creator__network
  .bottom__network
  .left__network
  .eth_never_die
  .img__eth__never {
  width: 170px;
  height: 148px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#creator__network .bottom__network .left__network .the__img__lg:hover img {
  transform: scale(1.3);
}

#creator__network .bottom__network .left__network .the__img__lg:hover .arrow {
  opacity: 1;
}

#creator__network .bottom__network .left__network .the__img__lg .arrow {
  color: #606060;
  background: #fff;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: 0.5s all;
}

#creator__network
  .bottom__network
  .left__network
  .eth_never_die
  .img__eth__never:hover
  img {
  transform: scale(1.3);
}

#creator__network
  .bottom__network
  .left__network
  .eth_never_die
  .img__eth__never:hover
  .arrow {
  opacity: 1;
}

#creator__network .the__info,
#creator__network .the__info .info__left,
#creator__network .eth_never_die .group__img,
#creator__network .eth_never_die .group__img .amout,
#creator__network .right__btn__network .group__social {
  display: flex;
  align-items: center;
}

#creator__network .eth_never_die .img__eth__never .arrow {
  color: #606060;
  background: #fff;
  width: 27%;
  height: 29%;
  font-weight: 300;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: 0.5s all;
}

#creator__network .right__btn__network .group__social .social__img {
  position: relative;
  width: 56px;
  height: 56px;
}

#creator__network .right__btn__network .group__social img {
  width: 100%;
  height: 100%;
}

#creator__network .right__btn__network .message {
  position: absolute;
  top: -3px;
  left: -3px;
  color: #ffffff;
  background: #000000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

#creator__network .the__info .info__left img {
  width: 48px;
  height: 48px;
}

#creator__network .bottom__network a {
  color: #000000;
  padding: 5px 10px;
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}

#creator__network .bottom__network .info__eth__never a {
  padding: 5px 10px;
  transition: 0.2s all;
}

#creator__network .bottom__network .info__eth__never a:hover,
#creator__network .bottom__network .right__btn__network a:hover {
  color: #ffffff;
  background: #a92e71;
  border: 2px solid #a92e71;
}

#creator__network .bottom__network .right__btn__network a {
  padding: 8px 18px;
  transition: 0.2s all;
  position: relative;
  left: 32px;
  top: 6.9rem;
}

#creator__network .bottom__network .right__btn__network a i {
  position: relative;
  left: 6px;
}

#creator__network .bottom__network p.des {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 400;
}

#creator__network .bottom__network p.eth_count {
  font-size: 12px;
  font-weight: 600;
  height: 27px;
  padding: 2px 6px;
  display: inline-block;
  color: #a92e71;
  margin: 0 10px;
  border: 2px solid #a92e71;
  border-radius: 3px;
}

#creator__network .bottom__network .the__info {
  justify-content: space-between;
  margin-top: 28px;
}

#creator__network .bottom__network .the__info h3 {
  font-size: 24.5px;
  font-weight: 500;
  margin: 0;
}

#creator__network .bottom__network p {
  margin: 0;
}

#creator__network .bottom__network .the__info .info__eth {
  position: relative;
  left: 16px;
}

#creator__network .bottom__network .info__eth p {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

#creator__network .bottom__network .eth_never_die {
  position: relative;
  padding: 0;
  right: 20px;
}

#creator__network .bottom__network .info__right {
  position: relative;
  right: 29px;
}

#creator__network .bottom__network .group__img {
  margin-bottom: 32px;
}

#creator__network .bottom__network .group__img h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

#creator__network .bottom__network .group__img .info__eth__never {
  position: relative;
  bottom: 20px;
  left: 14px;
}

#creator__network .bottom__network .info__eth__never .amout img {
  width: 24px;
  height: 24px;
}

#creator__network .bottom__network .info__eth__never .amout {
  position: relative;
  top: 10px;
}

#creator__network .bottom__network .info__eth__never a {
  position: relative;
  top: 35px;
}

#creator__network .right__btn__network {
  border-left: 1.5px solid #c4c4c4;
  position: relative;
  left: 15px;
  width: 100%;
  height: 94%;
}

#creator__network .right__btn__network h6.title {
  position: relative;
  left: 32px;
  color: #606060;
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
}

#creator__network .right__btn__network h5 {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

#creator__network .right__btn__network .group__social .social__info {
  position: relative;
  left: 15px;
}

#creator__network .right__btn__network .group__social .social__info p {
  margin: 0;
  position: relative;
  top: 7px;
}

#creator__network .right__btn__network .group__social {
  position: relative;
  left: 32px;
  width: 82%;
  padding-bottom: 23px;
  border-bottom: 1.5px solid #c4c4c4;
}

#creator__network .right__btn__network .group__social.first {
  top: 20px;
}

#creator__network .right__btn__network .group__social.second {
  top: 45px;
}

#creator__network .right__btn__network .group__social.thirst {
  top: 70px;
}

#creator__network .right__btn__network .group__social.fours {
  top: 6rem;
  border-bottom: none;
}

/* =============================== Responsive ================================== */
/* Ty le man hinh nho hon 1280*/
@media screen and (max-width: 1280px) {
  #creator__network .container {
    max-width: 1100px;
  }
}

/* Ty le man hinh nho hon 1024*/
@media screen and (max-width: 1024px) {
  #creator__network {
    min-height: 2490px;
  }

  #creator__network .container {
    max-width: 890px;
  }

  #creator__network .right__card {
    left: 0;
  }

  #creator__network .btn__place__view a {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #creator__network .btn__place__view a.view {
    top: 87px;
  }

  #creator__network .previout__next {
    top: 205px;
  }

  #creator__network .bottom__network .eth_never_die {
    left: 13px;
  }

  #creator__network .right__btn__network {
    top: 40px;
    border-left: 0;
    left: -40px;
  }
}

/* Ty le man hinh nho hon 768px*/
@media screen and (max-width: 768px) {
  #creator__network {
    min-height: 3700px;
  }

  #creator__network .container {
    max-width: 700px;
  }

  #creator__network .content__network .left__img {
    position: relative;
    left: 28px;
  }

  #creator__network .right__card {
    left: 25px;
    top: 60px;
  }

  #creator__network .card__current {
    left: 8.5rem;
  }

  #creator__network .bottom__network {
    top: 36rem;
  }

  #creator__network .btn__place__view a {
    width: 90%;
  }

  #creator__network .btn__place__view a.view {
    top: 100px;
  }

  #creator__network .previout__next {
    left: 42%;
  }

  #creator__network .bottom__network .left__network .the__img__lg {
    left: 19%;
  }

  #creator__network .bottom__network .the__info {
    justify-content: space-around;
  }

  #creator__network .bottom__network .the__info .info__left {
    position: relative;
    left: 51px;
  }

  #creator__network .bottom__network .eth_never_die {
    top: 50px;
    left: 8rem;
    display: inline-block;
  }

  #creator__network .right__btn__network {
    left: -13px;
    width: 92%;
  }
}

/* Ty le man hinh nho hon 540px*/
@media screen and (max-width: 540px) {
  #creator__network {
    min-height: 3525px;
  }
  #creator__network .container {
    max-width: 480px;
  }

  #creator__network .content__network .left__img {
    width: 400px;
    height: 600px;
  }

  #creator__network .btn__place__view {
    left: 0;
  }

  #creator__network .previout__next {
    left: 37%;
  }

  #creator__network .bottom__network .left__network .the__img__lg {
    width: 357px;
    height: 346px;
    left: 12%;
  }

  #creator__network .card__current {
    left: 20px;
  }

  #creator__network .bottom__network .the__info {
    justify-content: space-between;
  }
  #creator__network .bottom__network .eth_never_die {
    left: 55px;
    display: inline-block;
  }
  #creator__network .bottom__network .group__img .info__eth__never {
    left: 30px;
  }
}

/* Ty le man hinh nho hon 468px*/
@media screen and (max-width: 468px) {
  #creator__network {
    min-height: 3150px;
  }

  #creator__network .container {
    max-width: 335px;
  }

  #creator__network .content__network .left__img {
    width: 320px;
    height: 440px;
  }

  #creator__network .card__current {
    width: 296px;
    height: 253px;
  }

  #creator__network .bottom__network .left__network .the__img__lg {
    width: 283px;
    height: 276px;
  }

  #creator__network .right__card h1 {
    font-size: 50px;
    line-height: 60px;
    left: -21px;
  }
  #creator__network .account__info {
    left: -23px;
  }

  #creator__network .bottom__network .the__info {
    display: inherit;
  }

  #creator__network .card__current {
    left: -11px;
  }

  #creator__network .btn__place__view {
    left: -5px;
  }

  #creator__network .previout__next {
    left: 30%;
  }

  #creator__network .bottom__network .the__info .info__left {
    left: 16px;
  }

  #creator__network .bottom__network .left__network .the__img__lg {
    left: 6%;
  }

  #creator__network .bottom__network .eth_never_die {
    left: 13px;
  }

  #creator__network .bottom__network .info__right {
    left: 16px;
    top: 10px;
    display: inline-block;
  }

  #creator__network .bottom__network .info__right p.eth_count {
    margin: 0;
  }

  #creator__network
    .bottom__network
    .left__network
    .eth_never_die
    .img__eth__never {
    width: 130px;
    height: 118px;
  }

  #creator__network .content__network .left__img {
    left: 0;
  }
}

/* Ty le man hinh nho hon 320px*/
@media screen and (max-width: 320px) {
  #creator__network{
    min-height: 210rem;
  }
  #creator__network .container {
    max-width: 250px;
  }
  #creator__network .content__network .left__img {
    width: 230px;
    height: 316px;
  }
  #creator__network .top__network h6 {
    font-size: 10px;
  }

  #creator__network .top__network h2 {
    font-size: 25px;
  }
  #creator__network .top__network a {
    font-size: 10px;
  }

  #creator__network .content__network {
    top: 13rem;
  }

  #creator__network .right__card h1 {
    font-size: 40px;
    line-height: 45px;
  }

  #creator__network .card__current {
    width: 236px;
    height: 202px;
    top: 55px;
    left: -29px;
  }
  #creator__network .btn__place__view a {
    font-size: 11px;
  }

  #creator__network .btn__place__view a.view {
    top: 80px;
  }
  #creator__network .previout__next {
    top: 13rem;
    left: 22%;
  }

  #creator__network .account__info {
    display: inherit;
    top: 0;
  }

  #creator__network .account__info .price {
    left: 0;
    top: 15px;
  }

  #creator__network .btn__place__view {
    top: 75px;
    left: -17px;
  }

  #creator__network .bottom__network .left__network .the__img__lg {
    width: 226px;
    height: 220px;
  }

  #creator__network .bottom__network .left__network .the__img__lg{
    position: relative;
    left: 0px;
  }

  #creator__network .bottom__network .the__info {
    position: relative;
    top: 20px;
  }

  #creator__network .bottom__network .the__info h3 {
    font-size: 18px;
  }

  #creator__network .bottom__network .info__eth p {
    font-size: 11px;
  }
  #creator__network .bottom__network .group__img {
    display: block;
  }

  #creator__network .bottom__network .eth_never_die {
    top: 80px;
  }

  #creator__network .bottom__network .group__img .info__eth__never {
    left: 3px;
    margin-top: 43px;
    margin-bottom: 55px;
  }

  #creator__network .right__btn__network{
    top: 6rem;
  }
}

/* Ty le man hinh nho hon 240px*/
@media screen and (max-width: 240px) {
}
