@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#seller {
  max-width: 1920px;
  min-height: 652px;
  background-color: #f4f5f6;
}

#seller p,
#seller h1,
#seller h2,
#seller h3,
#seller h4,
#seller h5,
#seller h5 {
  margin: 0;
}

#seller .container {
  max-width: 1144px;
}

#seller .bottom__seller {
  border-radius: 15px;
}

#seller .slide__seller .seller__card {
  max-width: 200px;
  height: 249px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s all ease;
  position: relative;
  left: 13px;
  padding: 27px 24px;
}

#seller .slide__seller .seller__card:hover {
  height: 271px;
  cursor: pointer;
  box-shadow: -5px 5px 9px rgb(0 0 0 / 10%);
}

#seller .slide__seller .seller__card .body__card {
  transition: 0.2s all ease;
}

#seller .slide__seller .seller__card:hover .body__card {
  transform: scale(1.2) translateY(15px);
}

#seller .top__seller {
  position: relative;
  top: 125px;
}

#seller .bottom__seller {
  position: relative;
  top: 202px;
}

#seller .left__top h3 {
  font-size: 24px;
  font-weight: 500;
  color: #c4c4c4;
}

#seller .left__top h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}

#seller .left__top h2 i {
  font-size: 17px;
  position: relative;
  left: 30px;
  bottom: 8px;
}

#seller .right__top {
  position: relative;
  top: 10px;
  text-align: right;
}

#seller .right__top .time__frame {
  text-align: left;
  position: relative;
  left: 11.8rem;
}

#seller .right__top .time__frame h6 {
  font-size: 12px;
  color: #c4c4c4;
  font-weight: 600;
  text-transform: uppercase;
}

#seller .right__top .previout__next {
  display: inline-block;
  position: relative;
  top: 34px;
  left: 3px;
}

#seller .right__top .time__frame .dropdown__time {
  width: 258px;
  height: 48px;
  border-radius: 10px;
  background: #ffffff;
  border: 1.5px solid #c4c4c4;
  padding: 0 12px;
  color: #000000;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#seller .right__top .time__frame .dropdown__time h5 {
  font-size: 14px;
  font-weight: 500;
}

#seller .right__top .time__frame .dropdown__time .arrow__down {
  width: 30px;
  height: 30px;
  border: 1.5px solid #c4c4c4;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

#seller .dropdown__time .arrow__down i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seller .right__top .previout__next button {
  width: 29px;
  height: 29px;
  position: relative;
  background: none;
  border: 1.5px solid #c4c4c4;
  margin: 0 3px;
}

#seller .right__top .previout__next button:focus {
  box-shadow: none;
}

#seller .right__top .previout__next button i {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seller .bottom__seller .body__card .card__img {
  width: 64px;
  height: 64px;
  position: relative;
}

#seller .bottom__seller .body__card .card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#seller .bottom__seller .body__card .card__img .diamon {
  position: absolute;
  right: -10px;
  bottom: 0;
  z-index: 10;
  color: #f4f5f6;
  width: 21px;
  height: 23px;
}

#seller .bottom__seller .body__card .card__img .diamon::before {
  content: "\f3a5";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  font-size: 11px;
  top: 4px;
  left: 4px;
  z-index: 10;
}

#seller .bottom__seller .top__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#seller .bottom__seller .top__card .active__thunder {
  width: 52px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #a92e71;
  color: #ffffff;
  border-radius: 20px;
}

#seller .bottom__seller .top__card {
  padding-bottom: 24px;
  border-bottom: 1.5px solid #c4c4c4;
}

#seller .bottom__seller .top__card .active__thunder img {
  width: 11px;
  height: 12px;
}

#seller .bottom__seller .top__card .active__thunder p {
  font-size: 13px;
  font-weight: 500;
}

#seller .bottom__seller .top__card .icon__card i {
  color: #c4c4c4;
  font-size: 17px;
  font-weight: 300;
}

#seller .bottom__seller .top__card .icon__card i:first-child {
  position: relative;
  right: 25px;
}

#seller .bottom__seller .top__card .icon__card i:last-child {
  transform: rotate(315deg);
  font-size: 15px;
  left: 0;
}

#seller .bottom__seller .body__card {
  position: relative;
  top: 24px;
  display: inline-block;
  left: 42px;
  text-align: center;
}

#seller .bottom__seller .body__card h5 {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-top: 22px;
}

#seller .bottom__seller .body__card h6 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
}

#seller .bottom__seller .body__card h6 span {
  color: #c4c4c4;
}

/* =============================== Responsive ================================== */
/* Ty le man hinh nho hon 1024*/
@media screen and (max-width: 1024px) {
  #seller .container {
    max-width: 960px;
  }

  #seller .right__top .time__frame {
    left: 6rem;
  }
}

/* Ty le man hinh nho hon 768px*/
@media screen and (max-width: 768px) {
  #seller {
    min-height: 755px;
  }
  #seller .container {
    max-width: 720px;
  }

  #seller .right__top .time__frame {
    left: 0;
  }
}

/* Ty le man hinh nho hon 600px*/
@media screen and (max-width: 540px) {
  #seller .container {
    max-width: 520px;
  }

  #seller .right__top .time__frame {
    left: 0;
  }

  #seller .right__top {
    text-align: left;
  }

  #seller .bottom__seller {
    padding-left: 15px;
  }

  #seller .right__top .time__frame .dropdown__time {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #seller .container {
    max-width: 520px;
  }
  #seller .bottom__seller {
    padding-left: 0;
  }
}

@media screen and (max-width: 380px){
  #seller .container {
    max-width: 340px;
  }
} 



@media screen and (max-width: 280px) {
  #seller .bottom__seller {
    padding-left: 10px;
  }

}
